# Abaikan file environment
.env

# Abaikan direktori build dan bin
/build/
/bin/

# Abaikan file log
*.log

# Abaikan file cache
*.cache
*.tmp

# Abaikan dependency vendor jika menggunakan Go modules
/vendor/

# Abaikan file editor tertentu
.vscode/
.idea/
*.swp

# Abaikan file sistem operasi
.DS_Store
Thumbs.
# Abaikan file eksekusi
main.exe
